<?xml version="1.0" encoding="UTF-8"?>
<!-- 国际化配置  -->  
<beans xmlns="http://www.springframework.org/schema/beans"   
       xmlns:context="http://www.springframework.org/schema/context"   
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
    <!-- 配置资源文件 -->  
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">  
        <property name="basenames">  
            <list>  
                <!-- 国际化文件通用名  -->  
                <value>messages/messages</value>  
            </list>  
        </property>  
        <!-- JSP渲染器为JSTL支持的，JSP文件中可使用fmt标记 -->  
        <property name="useCodeAsDefaultMessage" value="true"></property>  
    </bean>  
    <!-- 配置resolve  
        基于session org.springframework.web.servlet.i18n.SessionLocaleResolver  
        基于request org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver  
        基于cookieorg.springframework.web.servlet.i18n.CookieLocaleResolver  
    -->  
    <bean id="localeResolver"  
        class="org.springframework.web.servlet.i18n.SessionLocaleResolver">  
    </bean>  
    <!-- 配置拦截器 -->  
    <bean id="localeChangeInterceptor"   
        class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">  
        <property name="paramName" value="lang"></property>  
    </bean>  
</beans> 