<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
       xmlns:context="http://www.springframework.org/schema/context"   
       xmlns:p="http://www.springframework.org/schema/p"   
       xmlns:mvc="http://www.springframework.org/schema/mvc"   
       xmlns:jee="http://www.springframework.org/schema/jee"   
       xmlns:aop="http://www.springframework.org/schema/aop"   
       xmlns:jaxws="http://cxf.apache.org/jaxws"   
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xmlns:beans="http://www.springframework.org/schema/beans"    
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
    <context:annotation-config />
    
    <context:component-scan base-package="org.wry.web" ></context:component-scan>  
    <mvc:annotation-driven />  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"   
        p:prefix="/WEB-INF/webs/" p:suffix=".jsp"></bean>  
      
    <mvc:default-servlet-handler/>  
    <mvc:view-controller path="/about" view-name="ablot"/>  
    <mvc:resources location="/media/**" mapping="/media/"/>  
    <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>  
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"></bean>  
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>  
    <beans:bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"  
        p:defaultErrorView="common/error">  
        <beans:property name="exceptionMappings">  
            <beans:props>  
                <beans:prop key="java.lang.RuntimeException">common/error</beans:prop>  
            </beans:props>  
        </beans:property>  
    </beans:bean>
</beans>      